# --- Diretórios de Build e Caches ---
build/
DerivedData/
/.build/
/Packages/

# --- Arquivos de Projeto e de Workspace ---
*.xcworkspace
!Podfile
!Package.swift

*.xcuserstate
*.xcuserdata/
*.xcurserdatad/

# --- Schemes e Logs ---
xcshareddata/
*.log

# --- CarPlay, Simuladores e Devices ---
CoreSimulator/
*.iOSDeviceCompatibility.json

# --- Arquivos Temporários e Outros ---
*~
*.swp
*.lockfile

# --- macOS ---
.DS_Store
